@import '../../typography/tokens.scss';

html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    letter-spacing: 1.1px;
  }
  
  
  
  .nav {
    position: sticky;
    top: 0;
    padding: 20px;
    background-color: $first-color;
    z-index: 100; 
    display: flex;
    justify-content: center;
    list-style: none;
    ul {
      display: inline-flex;
      width: 50%;
      justify-content: space-around;
    }
  }
    

  li {
    display: inline-flex;
    width: 150px;
    height: 2rem;
    justify-content: space-around;
    background-color: $third-color;    
    border-radius: 40px;
    &:hover{
      background-color: $fourth-color;
    }

  }
    
  .link {
    text-decoration: none;
    color: white;
    align-self: center;
  }