@import '../../typography/tokens.scss';


footer {
    position: fixed;
    font-size: 12px;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    font-size: 14px;
    background-color: $first-color;
    color: $sixth-color;
    text-align: center;

    .icon {
        color: $fifth-color;
        &:hover {
            transform: scale(1.5);
        }
    }

    
}