@import '../../typography/tokens.scss';
footer {
    position: sticky;
    font-size: 12px;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    font-size: 14px;
    background-color: $first-color;
    color: #000000;
    text-align: center;

    a {
        text-decoration: none;
        color: inherit;
        border-bottom: 1px solid;

        &:hover {
            border-bottom: 1px transparent;
        }
    }
}